target/META-INF/mule-src/foreache/src/main/mule/foreache.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ffcf00a1-b17b-4bde-ada3-1ecedb2d55c7" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="foreacheFlow" doc:id="e652540c-1476-4272-8c56-05fb354c11f2" >
		<http:listener doc:name="Listener" doc:id="f13a8fa2-a71e-40cf-ab6f-88f9086f4641" config-ref="HTTP_Listener_config" path="/foreache"/>
		<foreach doc:name="For Each" doc:id="79a1e55a-ffe4-492a-b760-bebb809385c4" >
			<logger level="INFO" doc:name="Logger" doc:id="3eb70914-5649-4c83-a54a-7bd8891564b1" message="payload inside foreach........#[payload]"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="bd9af5d4-e2a2-434e-af82-35ffa6a99572" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="08fec1d1-b2dd-4ed8-90de-cf8452ad48ae" message="payload after foreach......#[payload]"/>
	</flow>
</mule>
